.vscode/**
.vscode-test/**
out/test/**

node_modules/**
src/**
.github/**
.gitignore
.gitmodules
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Bundle profiler
firefox-profiler/**
!firefox-profiler/dist/!(docs|photon)/**
!firefox-profiler/dist/!(*.map)
!firefox-profiler/README.md
!firefox-profiler/LICENSE

# Don't bundle examples
examples/**